<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>购物车</title>
  <link rel="stylesheet" href="style.css">
</head>
<div class="container" th:each="item : ${itemList}">
  <img class="img" th:src="${item.img}">
  <div th:text="${item.price}"></div>
  <div th:text="${item.title}"></div>
  <div th:text="${item.desc}"></div>
  <div>
    库存
    <span th:text="${item.count}"></span>
  </div>
</div>
<div>

  <form action="/pay" method="GET">
    <button>去结算</button>
  </form>
</div>
</body>

</html>